/* Add CSS Styling */
.odd-numbered {
    background-color: rgb(255, 160, 160);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second-element {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

#fourth-element {
    background-color: rgb(125, 255, 132);
    font-weight: bold;
}

.font-adjust {
    font-size: 24px;
}